{% extends "master/layout.html" %}

{% block body %}

    <h2>Распоряжение номер {{ object.order_num }}</h2>
    <p>Организация : {{object.organization }}</p>
    <p>Подразделение : {{object.subdivision }}</p>
    <p>Место и наименование проведения работ : {{object.object }}</p>
    <p>Технические мероприятия по обеспечению безопасности работ: {{object.safety_desc }}</p>
    <p>Активно : {{object.active }}</p>
    <p>Работник, отдавший распоряжение: {{object.master }} Подпись: {{object.instructions_given_dt }}</p>
    <p>Члены бригады: {% for electrician in object.electricians %} {{ electrician.name }} {{ electrician.safety_group }} Подпись: {{object.instructions_received_dt }} {%endfor%} </p>
    <p>К работе приступили(дата, время) : {{object.job_started_dt }}</p>
    <p>Работа закончена(дата, время) : {{object.job_finished_dt }}</p>
    
{% endblock %}