{% extends "master/layout.html" %}

{% block body %}

    <h2>Лист осмотра воздушной линии</h2>
    <p>Организация : {{object.order.organization }}</p>
    <p>Подразделение : {{object.order.subdivision }}</p>
    <p>Место и наименование проведения работ : {{object.order.object }}</p>
    <h4>Дефекты:</h4>
    {% for defect in object.defects %}
        <p>{{ defect.subobject }} - {{ defect.defect_type }}</p>
    {% endfor %}

    <p>Осмотр произведён : {{object.order.job_finished_dt }} {{ objects.order.electrician }}</p>
    <p>Принял мастер : {{object.received_by }} {{ objects.received_at_dt }}</p>
    
{% endblock %}